.bg-image {
  background-image: url(image2.png);
  /* background-repeat: repeat-x; */
  /* background-size: 50% 50px; */
  padding: 100px 50px;
  background-position: top left;
  width: 100%;
}

.bg-para {
  background-color: burlywood;
  text-align-last: center;
  font-size: x-large;
}

.headfont {
  color: white;
  text-align: center;
  font-size: 50px;
}

#getname-btn {
  color: azure;
  font-weight: bolder;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 200px;
  border-radius: 5px;
  background-color: brown;
  margin-bottom: 50px;
  margin-top: 10px;
}

.foot {
  background-color: coral;
  text-align: center;
}
